* {
  box-sizing: border-box;
  font-family: 'Gotham';
  margin: 0;
  padding: 0;
}

/* --SECTION HOME-- */

/* MENU */
.header-container {
  background: #262d31;
  /* position:fixed; */
  width: 100%;
  
}

.header-container header {
  max-width: 1100px;
  margin: auto;
}

.header-container header .logo a {
  font-family: 'Righteous';
  font-size: 30px;
  color: #1CB698;
  text-decoration: none;
}

.header-container header nav {
  position:relative;  
}

.header-container header nav ul li a{
  text-align: none;
  color: #fff;
  /* margin: 10px; */
  transition: 0.5s;
  text-decoration: none;
}

.header-container header nav ul li a:hover {
  color: teal;
}

.nav-responsive {
  background: teal;
  color: #fff;
  padding: 5px 10px;
  border-radius: 7px;
  cursor: pointer;
  display: none;
}



.home .picture {
  background-color: hsl(202, 13%, 17%);
}

.home img {
  width: 110%;
  opacity: .4;
}



/* --SECTION WIDE RANGE SERVICES-- */
.wideRange {
  background-color: yellow;
}

.wideRange .list {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center; 
}

.wideRange .list h2,p {
  margin-left: 50px;
}

.wideRange .list h2 {
  margin-bottom: 40px;
}

.wideRange .list p {
  margin-bottom: 40px;
}

.wideRange .list .progress .progress-bar {
  background-color: black;
}
