$font-header: 'glicker-bold';
$backgroundColorContainer: #262d31;
$colorHElements: #340e0e;
$iconColorLink: teal;


body {

    .header-container {
    
    header {
    font-family: $font-header;
    background-color: $backgroundColorContainer;
    
    nav {
      font-size: 20px; 
      ul {
        li {
          a .nav-link {
          &:hover {
            color:$iconColorLink
            }
          }
        }
        }
     }
        
      }
    }
  }

